@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --bg-color: #eeeeee;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

select {
  padding: 0 35px 0 15px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17L7.41 8.59L6 10l6 6l6-6l-1.41-1.41z"/></svg>');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}

.rbc-toolbar {
  padding-bottom: 10px;
}

.rbc-toolbar-label {
  font-size: 18px;
  margin: 15px 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .input_pass:focus + * {
    @apply transition-all text-task-ss-purple;
  }
}