@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #eeeeee;
}

/* * {
  border: 1px solid red;
} */

body {
  height: 100%;
  background-color: var(--bg-color);
  overflow: hidden;
}

@layer components {
  .input_pass:focus + * {
    @apply transition-all text-task-ss-purple;
  }
}

/* @layer components {
  .sidenav-button {
    @apply ;
  }
} */